<div class="page-header">
  <h1><%= title 'Preview appointment summary' %></h1>
</div>

<div class="confirm">
  <p class="highlight highlight-orange">Check the details below and click Submit if they're correct</p>
</div>

<div class="l-summary-document">
  <%= @output_document.html.html_safe %>
</div>

<%= form_for @appointment_summary, url: appointment_summaries_path(format: :pdf) do |f| %>

  <% AppointmentSummary.editable_column_names.each do |field| %>
    <%= f.hidden_field field %>
  <% end %>

  <div class="fixed-bar">
    <%= f.submit 'Submit', class: %w(btn btn-success t-confirm btn-lg) %>
  </div>
<% end %>
